secrets = {
    "ssid": "<wifi-ssid>",
    "password": "<wifi-password>",
    "aio_username": "<adafruitio-username>",
    "aio_key": "<adafruitio-password>",
    "mqtt_broker": "<mqtt-broker-host>",
    "mqtt_port": <mqtt-broker-port>,
    "mqtt_user": "<mqtt-broker-username>",
    "mqtt_password": "<mqtt-broker-password>",
    "matrix_width": "<matrix-width>"
    "matrix_height": "<matrix-height>"
    "matrix_bit_depth": "<matrix-bit-depth>", # 2-6
    "matrix_color_order": "<matrix-color-order", # RGB, RBG
    "ntp_enable": <enable-ntp>,
    "ntp_interval": "<ntp-update-interval>", # seconds
    "debug": <debug-mode>,
}
