secrets = {
    "debug": False,
    "ssid": "MyWifiSSID",
    "password": "SecretWifiPassword",
    "mqtt_broker": "mosquitto.local",
    "mqtt_port": 1883,
    "mqtt_user": "mqtt_user",
    "mqtt_password": "mqtt_secret_password",
    "matrix_width": 64,
    "matrix_height": 64,
    "matrix_bit_depth": 5,
    "matrix_color_order": "RGB",
    "ntp_enable": True,
    "ntp_interval": 3600, # 1 hour in seconds
}
